.settings
  .settings__setting
    cursor: pointer
    margin: 5px
    border: 2px solid #331133
    padding: 15px
    border-radius: 10px
  li
    cursor: pointer
    margin: 5px
    border: 2px solid blue
    padding: 15px
    border-radius: 10px
    transition-duration: 0.15s
    &:hover
      margin: 9px
      border: 1px solid #331133
